*{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
.container {
    position: relative;
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .image {
    display: block;
    width: 60%;
    height: auto;
   border-radius: 20px;
  }
  
  .overlay {
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1A9FFF;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .top-navbar{
    background-color: #171D25;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    padding: 7px 5%;
    }
    .top-navbar a{
        display: inline-block;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    .top-navbar img{
        background: none;
        width: 5%;
    }
    .top-navbar a:hover{
    color: #1A9FFF;
    border-bottom: 1px solid #1A9FFF ;
    }
    body{
      background-color:  #171D25;
    }

    .about{
      display: flex;
    }
    