*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
  
.bottom-navbar{
position: relative;
background-image: url("https://e0.pxfuel.com/wallpapers/170/120/desktop-wallpaper-gaming-background-gaming-video-game-character-love-gaming.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 30rem;
}
nav a:hover{
   color :  #1A9FFF;
}
nav a{
    margin-left:20px ;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav{
    position: absolute;
    right:  0;
    margin-right: 20%;
    background-color: #135f95;
    display: flex;
    padding: 10px;
    width: 750px;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 60px;

}
.top-navbar{
    background-color: #171D25;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    padding: 7px 5%;
    }
    .top-navbar a{
        display: inline-block;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    .top-navbar img{
        background: none;
        width: 5%;
    }
    .top-navbar a:hover{
    color: #1A9FFF;
    border-bottom: 1px solid #1A9FFF ;
    }
    #search{
        background-color: #539ec6;
        border-radius: 5px;
        border: none;
        color: white;
        outline: none;
    }
    nav i{
    margin-right: 50px;
    }
.cardGame img{
border-radius: 5px ;
width: 100%;
height: 20rem;
}
.cardGame:hover{
    transform: scale(1.1);
    

}
.cardGame{
    transition-duration :  0.7s ;

    border-radius: 10px;
    background-color: #171D25;
    padding: 5px;
    width: 80%;
    height: 30rem;
    margin-top: 15%;
    box-shadow: #232a2f 0px 10px 30px 10px;
}

.test{
    display: grid ;
    grid-template-columns: repeat(4,1fr);
     left: 5.5%;
    padding: 0;
    margin-left: 150px;
}

.container{
    background-color: #171D25;
    height: 70rem;
}

.plus {
    display: flex;
    justify-content: space-between;
}
.icons i{
color: #1A9FFF;
}
.icons {
    display: grid;
    margin-right: 10px;
    font-size: 20px;
}
div p{
    color : white ; 
    margin-left: 5px;
    margin-top: 5px; 
}

#logo{
    cursor: pointer;
}